<div class="sm:flex sm:items-center mb-10 mt-5">
    <div class="sm:flex-auto">
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Add Equipment</p>
    </div>

    <%= link_to "back to equipment", equipments_path, class: "flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"%>
</div>

<div class=" px-3 ">
    <%= render partial: 'form', locals: { equipment: @equipment } %>
</div>
    