<div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between py-4">
  <div class="text-sm">
    <%= page_entries_info records %>
  </div>
  <div>
    <%= paginate records %>
  </div>
</div>