<div class="sm:flex-auto">
  <h1 class="text-2xl tracking-tight font-extrabold text-gray-900" ><%= t("views.shared.settings") %></h1>
  <div class="block mx-2 pt-3">
    <%= render layout: "shared/submenu" do %>
      <%= link_to t("views.role.roles"), roles_path, class: active_class(roles_path) %>
      <%= link_to t("views.sites.sites"), sites_path, class: active_class(sites_path) %>
    <% end %>
  </div>
</div>