  <div>
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <%= render "shared/sidebar_menu" %>
  </div>
  
  <div class="lg:pl-72">
    <main class="py-20">
      <div class="py-7 sm:px-6 lg:px-8" >
        <%#= render partial: 'shared/breadcrumbs' %>

        <%= yield %>
      </div>
    </main>
  </div>